* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe;
}

.content{
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemonVerde{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #49d1b1;
    color: #ffe;
    max-height: 8.5rem;
} 
.pokemonRed{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #fc6d6d;
    color: #ffe;
    max-height: 8.5rem;
}
.pokemonAzul{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #77befc;
    color: #ffe;
    max-height: 8.5rem;
}
.pokemonAmarelo{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #ffcf56;
    color: #ffe;
    max-height: 8.5rem;
}
.detalhes img{
    max-width: 100%;
    height: 70px;
}
.detalhes ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.numero{
    color: #000;
    opacity: .07;
    text-align: right;
}
.detalhes{
    display: flex; 
    flex-direction:row;
    align-items: flex-start;
    justify-content:space-between;
}

.tiposV{
    background-color: #62e3c7;
    padding: .25rem 8px;
    margin: .25rem 0px;
    font-size: .625rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
.tiposR{
    background-color: #fc868a;
    padding: .25rem 8px;
    margin: .25rem 0px;
    font-size: .625rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
.tiposB{
    background-color: #91d5ff;
    padding: .25rem 8px;
    margin: .25rem 0px;
    font-size: .625rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
.tiposA{
    background-color: #ffd970;
    padding: .25rem 8px;
    margin: .25rem 0px;
    font-size: .625rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
.nome{
    margin-bottom: .25rem;
}